.header {
  background-color: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Logo */
.logo img {
  height: 50px;
}

/* Thanh tìm kiếm */
.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 60%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}

/* Menu */
.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

/* Nút đăng nhập */
.login-btn {
  background: #ff672a;
  padding: 8px 15px;
  color: #fff !important;
  border-radius: 5px;
}
